/*左侧宽度固定，右侧宽度自适应*/
.lt_category_l{
  width: 90px;
  height: 100%;
  float: left;
  position: relative;/*滚动区域是要相对父盒子定位的*/
}

.lt_category_l li{
  width: 90px;
  height: 50px;
  line-height: 50px;
  background-color:pink;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  text-align: center;
}
.lt_category_l li.now{
  background-color:#fff;
  border-right: none;
}
.lt_category_l li a{
  width: 100%;
  height: 100%;
}


.lt_category_r{
  overflow: hidden;
  height: 100%;
  background-color:#fff;
  position: relative;/*滚动区域是要相对父盒子定位的*/
}
.lt_category_r li{
  float: left;
  width: 33.33%;

}
.lt_category_r li img{
  width: 62px;
  height: 62px;
  margin: 0 auto;
}
.lt_category_r li p{
  height: 20px;
  line-height: 20px;
  text-align: center;
}
