.lt_goCart{
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 100%;
  padding: 10px;
  border-top: 1px solid red;

}

.proPrice .price{
  color: red;
}
.proPrice .oldPrice{
font-size: 12px;
text-decoration: line-through;

}
.proSize span{
  padding: 5px;
  border: 1px solid #ccc;
  line-height: 30px;
  font-size: 12px;
  background-color: #f5f5f5;
}
.proSize span.now{
  background-color: #069;
}
.proNum span{
  font-size: 12px;
  color: #666;
}