form{
  padding: 10px;
}
.vcode_wrap input{
  width: 65%;
}
.vcode_wrap .btn_vcode{
  width: 30%;
}
 

.mui-input-row .btn_register{
  width: 100%;
}
.tips{
  font-size: 12px
}
.btn_vcode.disabled{
  background-color: #666;
 border: 1px solid #666;

}